body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: white;
    z-index: 1;
    font-size: 14px;
    letter-spacing: 1.3px;
}

.navbar a:hover {
    color: darkblue;
    cursor: pointer;
}

.menuoptions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 18%;
}

.menuoptions a {
    margin-left: 35px;
    color: rgb(106, 109, 117);
}

.login {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 18%;
}

.login a {
    margin-left: 35px;
    color: rgb(106, 109, 117);
}

.signupborder {
    color: white !important;
    font-weight: 700;
    border-radius: 2px;
    background-color: rgb(242, 98, 38);
    border-color: rgb(242, 98, 38);
    border-style: solid;
    border-width: 15px 20px 15px 20px;
}

.video {
    display: block;
    margin-top: 70px;
}

.videosize {
    width: 100%;
}

.vidcenter {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 530px;
    text-align: center;
}

.vidcenter h1 {
    color: white;
    font-size: 56px;
}

.vidcenter a {
    background-color: rgb(242, 98, 38);
    border-color: rgb(242, 98, 38);
    border-style: solid;
    border-width: 18px 10px 18px 10px;
    border-radius: 2px;
    color: white;
    font-size: 16px;
    font-weight: 200;
    margin-left: 50%;
    max-width: 200px;
    transform: translate(-50%, 0px);
    font-weight: 600;
    letter-spacing: 2px;
}

.vidcenter a:hover, .signupborder:hover {
    background-color: rgb(211, 86, 33);
    border-color: rgb(211, 86, 33);
    cursor: pointer;
}
 
.summary {
    margin-top: -200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.summaryblock {
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1000px;
}

.choosemeal, .cook {
    display: flex;
    flex-direction: column;
    margin-left: 160px;
}

.choosemeal h2, .cook h2 , .unpack h2{
    font-size: 46px;
    font-weight: 700;
    color: rgb(48, 50, 54);
    margin-top: 0;
    margin-bottom: 30px;
}

.choosemeal p, .cook p, .unpack p {
    font-size: 24px;
    font-weight: 400;
    color: rgb(106, 109, 117);
    line-height: 40px;
    margin-top: 0;
    margin-bottom: 0;
}

.unpack {
    display: flex;
    flex-direction: column;
    margin-right: 160px;
}

.mealkit {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0px);
    width: 1200px;
    background-image: url(Media/foodBackground.png);
    background-size: 1200px 1200px;
    height: 1200px;
}

.mealkitinfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0px);
    background-color: white;
    width: 850px;
    height: 1100px;
    flex-wrap: nowrap;
}

.mealkitinfo h2 {
    color: rgb(48, 50, 54);
    font-size: 20px;
    margin: 0;
}

.mealkitinforow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.mealkitinfobox {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 275px;
    padding: 80px 40px 80px 40px;
}

.mealkitinfobox h3 {
    color: rgb(48, 50, 54);
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}

.mealkitinfobox p {
    color: rgb(106, 109, 117);
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
}

.subscribe {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subscribe h2{
    font-size: 30px;
    color: rgb(48, 50, 54);
    font-weight: 600;
}

.subscribe p{
    color: rgb(106, 109, 117);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 40px;
}

.chooseyourplan {
    color: white;
    background-color: rgb(46, 98, 175);
    border-color: rgb(46, 98, 175);
    border-style: solid;
    border-width: 25px 80px 25px 80px;
    border-radius: 50px;
    letter-spacing: 2px;
    font-weight: 600;
}

.chooseyourplan:hover, .go:hover {
    background-color: rgb(15, 52, 108);
    border-color: rgb(15, 52, 108);
    cursor: pointer;
}

.prefooter {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
    background-color: rgb(250, 251, 252);
    height: 175px;
    padding-left: 12%;
    padding-right: 12%;
    border-top: 1px solid rgb(228,230,235);;
}

.prefooter h2 {
    font-size: 16px;
    letter-spacing: 2px;
    color: #303236;
}

.prefooter .whatscooking, .prefooter .socialmedia, .prefooter .fromtheblog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
}

.socialmediaicons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.socialmediaicons img {
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
}

.dividerbar {
    border-left: 1px solid rgb(228,230,235);
    height: 60%;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(15, 52, 108);
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    height: 350px;
}

.socialmedia, .whatscooking, .fromtheblog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.whatscooking p {
    color: #6a6d75
}

.emaillist {
    border: 1px solid rgb(221, 221, 221);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 300px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.emaillist input {
    background-color: white;
    border: 0;
    outline: none;
    margin-left: 15px;
    height: 48px;
    width: 575px;
}

::placeholder {
    color: rgb(165, 165, 165);
}

.go {
    height: 50px;
    width: 100px;
    background-color: rgb(36, 80, 145);
    color: white;
    border: 0;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: 600;
    letter-spacing: 3px;
}

.fromtheblog div {
    display: flex;
    flex-direction: row;
}

.blogpost {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 10px;
}

.blogpost p {
    color: #303236;
    overflow: hidden;
    width: 200px;
    margin-left: 35px;
    margin-top: 0px;
}

.footerinfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footercontainer {
    width: 65%;
}

.footercontainer p{
    display: flex;

}

.leftfooterinfo {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: rgb(161, 188, 230);
    height: 200px;
    margin-right: 55px;
}

.footercontainer span {
    color: rgb(161, 188, 230);
    margin-left: 3px;
    margin-right: 3px;
}

.col a {
    margin-bottom: 13px;
}

.col a:hover, .footercontainer span:hover {
    cursor: pointer;
    text-decoration: underline;
}

.col img {
    margin-bottom: 10px;
}

.col img:hover {
    cursor: pointer;
    margin-bottom: 3px;
}

.rightfooterinfo .col {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.whitetext {
    cursor: text !important;
    text-decoration: none !important;
    color: white;
}